/* 全局样式 */
html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-table {
  margin-top: 15px;
  font-size: 12px;
}
.el-select {
  width: 100%;
}
.el-form-item {
  margin-bottom: 12px;
}
.el-row {
  margin-bottom: 12px;
}
